# Dossiers de téléchargement de médias
wp-content/uploads/

# Dossiers de cache
wp-content/cache/

# Dossiers de dépendances de Composer
vendor/

# Fichiers de logs
*.log

# Fichiers temporaires
*.bak
*.swp
*.tmp
